.user-management.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding: 30px;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 30px;
}
/*.user-management .ant-upload {*/
/*    border: 1px dashed #d9d9d9;*/
/*    !*border-radius: 50%;*!*/
/*    !*width: 120px;*!*/
/*    !*height: 120px;*!*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    margin-bottom: 2px;*/
/*    padding: 25px;*/
/*}*/

.user-management .ant-upload.ant-upload-select-picture-card {
    width: 100px;
    height: 100px;
    align-content: center;

}

.user-management .ant-btn {
    width: 15%;
    margin-bottom: 8px;
}

.user-management .ant-row {
    margin-bottom: 16px;
}


.upload-col {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.avatar-uploader .ant-upload {
    border: 2px dashed #d9d9d9;
    border-radius: 50%;
    width: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Styles for upload and delete buttons */
.upload-buttons .ant-btn {
    margin-top: 10px;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}
.delete-btn   :hover {
    background-color: #ff4d4f;
    color: #fff;
    border: none;

}
.cancel-container   {
    background-color: darkgray;
    color: #fff;
    border: none;

}
.save-container  {
    background-color: green;
    color: #fff;
    border: none;

}

.custom-avt {
    border-radius: 50%;
    position: relative;
    width:150px;
    height: 150px;
}
.cancel-save-button{
    padding-left: 15px;
    padding-right: 15px;
}